*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: aliceblue;
}
html {
    scroll-behavior: smooth;
    }
body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(195, 20, 50), rgb(36, 11, 54));
}
header{
    height: 10%;
    width: 100%;
    position: sticky;/* navbar stay visible while scrolling*/
    top: 0; /*required for navbare position sticky*/
    background-color: rgb(0,0,0,0.5);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 25%;
}
.logo_box{
    margin-left: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo_box h3{
    font-size: 20px;
    color: #f20842;
    text-decoration: underline;
}
nav ul  {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    
}
nav ul li {
    border: 2px solid #e41749;
    border-radius: 15px;
    width: auto;
    padding: 3px 10px 3px 10px;
    cursor: pointer;
    background: rgba(0,0,0,1);
    /*background: linear-gradient(to left, rgb(176, 11, 39), rgb(57, 12, 90));
    */
    transition: transform ease 0.5s ;
}
nav ul li:hover{
    transform: scale(0.9);
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: #f6859f;/*#e41749*/
}

.title{
    margin-top: 10px;
    border: 2px solid rgb(213, 35, 35);
    border-radius: 20px;
    padding: 5px;
    background-color: rgb(0,0,0,0.5);
    box-shadow: 0px 0px 20px rgb(247, 18, 18);
}
.title h1{
    color: #f6859f;
    font-style: italic;
}
#DevF{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,0,0,0.5);
    padding: 20px;
    gap: 20px;
    margin-top: 5px;   
}

#DevF pre{
    padding: 50px 5px 5px ;
    margin-right: 2%;
    font-size: 16px;
}
#DevF .img-box{
    width: 600px;
    height: 500px;
    margin-left: 10px;
    border: 2px solid rgb(213, 35, 35);
    border-radius: 10px;
    background-image: url(../../public/images/front-end-img.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px rgb(247, 18, 18);
}
span{
    color: rgb(247, 18, 18);
    font-weight: bold;
    font-style: italic;
}
#DevB{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-top: 5px;
    gap: 20px;
    height: 700px;
  
}
#DevB .img-box{
    width: 500px;
    height: 600px;
    border: 2px solid rgb(213, 35, 35);
    border-radius: 10px;
    background-image: url(../../public/images/back-end-img.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px rgb(247, 18, 18);
    
}
#DevB .pg-box{
    
    width: 950px;
    height: auto;
    box-sizing: border-box; /* keeps padding inside width */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 5px;    
}
#DevB .pg-box pre{
    white-space: pre-wrap; /* allows wrapping */ 
    word-wrap: break-word; /* breaks long words */ 
    overflow-wrap: break-word; /* modern equivalent */
    font-size: 16px;
}
#Net {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    height: 700px;
    margin-top: 5px;
    
}
#Net .img-box{
    width: 500px;
    height: 650px;
    border: 2px solid rgb(213, 35, 35);
    border-radius: 10px;
    background-image: url(../../public/images/networks-img.jpeg);
    background-position: center;
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(247, 18, 18);
}
#Net .pg-box{
    width: 850px;
    height: auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    
}
#Net .pg-box pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}

#Cyber{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    padding: 20px;
    margin-top: 5px;
    height: 700px;
    gap: 20px;

}
#Cyber .img-box{
    width: 500px;
    height: 600px;
    border: 2px solid rgb(213, 35, 35);
    border-radius: 10px;
    background-image: url(../../public/images/cyber-img.jpeg);
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 20px rgb(247, 18, 18);

}
#Cyber .pg-box{
    width: 850px;
    height: auto;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;

    

}
#Cyber .pg-box pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 16px;
}
#about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
}
#about .img-box{
    width: 300px;
    height: 300px;
    border: 2px solid transparent;
    border-radius: 50%;
    background-image: url(../../public/images/pf-avatar.png);
    background-size: cover;
    background-position: center;
    box-shadow:  0px 0px 20px rgb(247, 18, 18);
    transition: transform 0.3s ease;

}
#about .img-box:hover{
    transform: scale(1.1);
    box-shadow:  0px 10px 20px rgb(247, 18, 18);
}
#about .pg-box{
    width: 600px;
    height: auto;
    margin-top: 5%;
    border: 2px solid transparent;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.2);
    backdrop-filter: blur(10px);
    box-sizing: border-box;
    padding: 10px;
    box-shadow:  0px 0px 20px rgb(247, 18, 18);
    transition: transform 0.3s ease;

}
#about .pg-box:hover{
    transform: scale(1.1);
    box-shadow:  0px 0px 20px rgb(247, 18, 18);

}
#about .pg-box p{
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 18px;
    text-align: justify;
    line-height: 1cm;
}
#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
#contact form{
   display: flex; 
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   width: 500px;
   height: 700px;
   border: 1px solid transparent;
   border-radius: 15px;
   padding: 10px;
   background-color: rgba(0,0,0,0.2);
   backdrop-filter: blur(10px);
   box-shadow: 0px 0px 20px rgb(247, 18, 18);
}
#contact form .title-box h2{
    margin-bottom: 50px;
    font-size: 48px;
    text-shadow: 0px 5px 5px rgb(247, 18, 18);
    color: rgba(0,0,0,0.7);
}
#contact form input{
    all: unset;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    color: whitesmoke;
}
#contact form input::placeholder{
    color: whitesmoke;
}
#contact form select{
    all: unset;
    border: 1px solid red;
    border-radius: 15px;
    padding: 10px;
    width: 250px;
    color: whitesmoke;
}
#contact form select option{
    background-color: rgba(0,0,0,0.5);
}
#contact form #msg{
    all: unset;
    border: 1px solid red;
    border-radius: 15px;
    width: 250px;
    height: 200px;
    padding: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
#contact form #msg::placeholder{
    color: whitesmoke;
}
#contact form #send{
    width: 100px;
    text-align: center;
    background-color: #d60f41;
    transition: transform ease 0.5s ;
}
#contact form #send:active{
    transform: scale(0.5);
}

footer{
    background-color: rgba(0,0,0,0.7);
    backdrop-filter: blur(30px);
    display: flex;
    justify-content: center;
    align-items: left;
    gap: 30%;
    height: auto;
    padding: 5px;
}
footer .info-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}
footer .info-box ul{
    column-count: 2;
    list-style-type: disc;
}
footer .info-box ul li a{
    text-decoration: none;
    line-height: 1cm;
    color: red;
    font-size: 16px;
}
footer .social-media-box ul{
    margin-top: 10px;
    line-height: 1cm;
    font-size: 16px;
    
}
footer .social-insta-icon{
    width: 30px;
    height: 30px;
    background-image: url(../../public/images/insta-icon.svg);
    background-position: center;
    background-size: cover;
}
footer .social-linkedin-icon{
    width: 30px;
    height: 30px;
    background-image: url(../../public/images/linkedin-icon.svg);
    background-position: center;
    background-size: cover;
}
footer .social-github-icon{
    width: 30px;
    height: 30px;
    background-image: url(../../public/images/github-icon.svg);
    background-position: center;
    background-size: cover;
}
